

  <div class="container py-5">
    <div class="row ">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 mx-auto">
  
            <div  class="card rounded-0" style="background-color:#E4E5E6;">
              <div class="card-header">
                <h3 class="mb-0">Restablecer Credenciales</h3>
              </div>
              <div class="displayTable">
                <div class="displayTableCell">
                  <div class="authBlock">
                    <br><br>
                    <div class="item form-group">
                      <div class="col-md-12 col-sm-12 ">
                        <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center alig-items-center">
                    
                    
                    <br>  
  
                    <!-- Calling SignIn Api from AuthService -->
                    <div class="btn-group ">
                      <br>
                      
                      
                      <div class="col-md-12 col-sm-12">
                      <button type="button" class="btn btn-danger btn-lg float-left" (click)="userService.ForgotPassword(passwordResetEmail.value)">
                        <i class="fa fa-pencil-square"></i>
                        ¿Restablecer Contraseña?
                      </button>
                    </div>
                    </div>
                  </div>
                    <br>
  
                    
  
                    <!-- Calling GoogleAuth Api from AuthService -->
                    <div class="form-group">
                      
                    </div>
  
                    <br> <br>
  
  
                  </div>
  
                  <br>
  
                  <div class="redirectToLogin">
                    <span>¿Regresar? <a class="redirect badge badge-info"  routerLink="/login"> Iniciar Sesion</a></span>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
        <!--/row-->
      </div>
      <!--/col-->
    </div>
  </div>

